/*==style cơ bản cho website==*/
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    font-family: "Helvettica Neue", Helvetica,Arial, sans-serif;
    font-weight: 300;
    color: #333;
    line-height: 1.254;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #3b8bba;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

a:hover{
    color: #265780;
}

/*==menu==*/
#container{
    padding-left: 200px;
    position: relative;
    left: 0;
    width: 100%;
}
#menu{
    position:fixed;
    height: 100%;
    background-color: #191818;
    width: 200px;
    left: 0;
}

#menu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#menu ul li{
    line-height: 2.9em;
    height: auto;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
#menu ul li a{
    display: block;
    color: #fff;
    padding: 0 0.5em;
    border-bottom: 1px solid #333;
}
#menu ul li:hover{
    background-color: #454545;
}

/*==Content==*/
#content{
    padding: 5% 15%;
}

/*--header--*/
header{
    padding: 0;
    margin: 0;
}
#header #logo{
    padding: 0;
    margin:0;
}
#header #slogan{
    color: #8997a0;
    font-size: 0.8em;
    margin-left: 30%;
    text-align: center;
}

.paragraph{
    position: relative;
    width: 90%;
    left: 15%
}

